In [30]:
import pandas as pd
import numpy as np

### Pandas

* –°–∫–∞—á–∞–π—Ç–µ –ª—é–±–æ–π —Ç–∞–±–ª–∏—á–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç (–º–æ–∂–µ—Ç–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–æ—Ç –∂–µ, —á—Ç–æ –∏ –≤ –¥–∑ –∫ –∑–∞–Ω—è—Ç–∏—é "–ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –±–∏–±–ª–∏–æ—Ç–µ–∫–∞–º–∏"), –Ω–∞–ø—Ä–∏–º–µ—Ä, —Å https://www.kaggle.com/datasets
* –ü—Ä–æ–≤–µ–¥–∏—Ç–µ –ø–æ–Ω–æ—Ü–µ–Ω–Ω—ã–π EDA 
    * "–ø–æ–≥—Ä—É–∑–∏—Ç–µ—Å—å" –≤ –¥–∞–Ω–Ω—ã–µ
    * —Å–æ—Å—Ç–∞–≤—å—Ç–µ –æ–ø–∏—Å–∞–Ω–∏–µ –∏–∑–º–µ—Ä–µ–Ω–∏–π –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞
    * –æ—á–∏—Å—Ç–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ, –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ
    * –ø–æ–ø—Ä–æ–±—É–π—Ç–µ —Å–æ–∑–¥–∞—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥—É—Ç –ø–æ–º–æ—á—å –ª—É—á—à–µ –ø–æ–Ω—è—Ç—å –¥–∞–Ω–Ω—ã–µ

### About Dataset
##### üí∏üí∏üí∏ Cost of Living - 50k Tweets in English | Aug 2022 üí∏üí∏üí∏

The cost of living is a scorching topic. This dataset is composed of tweets sent from August 20 to August 26 2022, with 50k tweets. All tweets are in English and are from different countries. Below is a breakdown of columns and the data in them.

### –û –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö
##### üí∏üí∏üí∏ –°—Ç–æ–∏–º–æ—Å—Ç—å –∂–∏–∑–Ω–∏ - 50 —Ç—ã—Å—è—á —Ç–≤–∏—Ç–æ–≤ –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º —è–∑—ã–∫–µ | –∞–≤–≥—É—Å—Ç 2022 üí∏üí∏üí∏

–°—Ç–æ–∏–º–æ—Å—Ç—å –∂–∏–∑–Ω–∏ ‚Äì –∂–∏–≤–æ—Ç—Ä–µ–ø–µ—â—É—â–∞—è —Ç–µ–º–∞. –≠—Ç–æ—Ç –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ —Ç–≤–∏—Ç–æ–≤, –æ—Ç–ø—Ä–∞–≤–ª–µ–Ω–Ω—ã—Ö —Å 20 –ø–æ 26 –∞–≤–≥—É—Å—Ç–∞ 2022 –≥–æ–¥–∞, –≤—Å–µ–≥–æ 50 000 —Ç–≤–∏—Ç–æ–≤. –í—Å–µ —Ç–≤–∏—Ç—ã –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º –∏ –∏–∑ —Ä–∞–∑–Ω—ã—Ö —Å—Ç—Ä–∞–Ω. –ù–∏–∂–µ –ø—Ä–∏–≤–µ–¥–µ–Ω–∞ —Ä–∞–∑–±–∏–≤–∫–∞ —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ –¥–∞–Ω–Ω—ã—Ö –≤ –Ω–∏—Ö.

In [31]:
data = pd.read_csv('dataset/new/costofliving-query-tweets.csv')
data.head()

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text
0,2022-08-26 21:09:51+00:00,CathFordETS,"Manchester, England",Chronic illness advocate. Many health conditio...,False,20,106,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@Keir_Starmer Please can you share this petiti...
1,2022-08-26 21:09:25+00:00,gsvigilant,NaN,NaN,False,6,29,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@amyklobuchar So much for focusing your attent...
2,2022-08-26 21:09:19+00:00,Chris07111522,NaN,"Professional educator, with a curious mind and...",False,18,39,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@TheLastLeg Kidnap the Tory leadership candida...
3,2022-08-26 21:09:18+00:00,mnguniomhlophe,Savanna City Midvaal,Traditional Healer and Clairvoyant: Interested...,False,431,1603,0,0,0,"<a href=""https://mobile.twitter.com"" rel=""nofo...",I salute all the courageous men and women from...
4,2022-08-26 21:09:13+00:00,RepAshleyHinson,"Washington, DC",Proud mom and wife. Representing IA-01 in Cong...,True,15667,624,0,1,0,"<a href=""http://twitter.com/download/iphone"" r...",Unleashing American energy independence is one...

In [32]:
#–µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö user_location, user_description (–∑–∞–ø–æ–ª–Ω—è—Ç—å –Ω–∞–¥–æ –Ω–∞ –º–æ–¥—É, —Ç–∞–∫ –∫–∞–∫ —ç—Ç–æ —Ç–µ–∫—Å—Ç–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50001 entries, 0 to 50000
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            50001 non-null  object
 1   username             50001 non-null  object
 2   user_location        34297 non-null  object
 3   user_description     42986 non-null  object
 4   verified             50001 non-null  bool
 5   followers_count      50001 non-null  int64
 6   following_count      50001 non-null  int64
 7   tweet_like_count     50001 non-null  int64
 8   tweet_retweet_count  50001 non-null  int64
 9   tweet_reply_count    50001 non-null  int64
 10  source               50001 non-null  object
 11  tweet_text           50001 non-null  object
dtypes: bool(1), int64(5), object(6)
memory usage: 4.2+ MB

In [33]:
#–º–Ω–æ–≥–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö
len(data['user_description'].unique())

32018

In [34]:
#–º–Ω–æ–≥–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö
len(data['user_location'].unique())

11555

In [35]:
data.shape

(50001, 12)

In [36]:
#—Å—Ä–µ–¥–Ω–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∏ –º–µ–¥–∏–∞–Ω–∞ –Ω–µ —Å–æ–≤–ø–∞–¥–∞—é—Ç –ø–æ –º–Ω–æ–≥–∏–º —Å—Ç–æ–ª–±—Ü–∞–º, —á—Ç–æ –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –µ—Å—Ç—å –≤—ã–±—Ä–æ—Å—ã.
#–ø–æ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è–º tweet_like_count, tweet_retweet_count, tweet_reply_count - –º–µ–¥–∏–∞–Ω–∞ —Ä–∞–≤–Ω–∞ –Ω—É–ª—é, –∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –æ—á–µ–Ω—å
#–±–æ–ª—å—à–∏–µ. –¢–æ –µ—Å—Ç—å –µ—Å—Ç—å –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã–µ —Ç–≤–∏—Ç—ã, –∞ –µ—Å—Ç—å –æ—á–µ–Ω—å –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ.
data.describe()

,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count
count,5.000100e+04,50001.000000,50001.000000,50001.000000,50001.000000
mean,4.973863e+04,1737.685126,14.213976,3.703086,1.505290
std,6.771397e+05,6683.105153,373.453878,110.519391,22.338956
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,9.500000e+01,185.000000,0.000000,0.000000,0.000000
50%,5.380000e+02,620.000000,0.000000,0.000000,0.000000
75%,2.332000e+03,1771.000000,2.000000,0.000000,1.000000
max,2.690649e+07,638937.000000,45979.000000,14740.000000,2211.000000

In [37]:
data.duplicated().sum()

0

In [38]:
data.isnull().sum()

date_time                  0
username                   0
user_location          15704
user_description        7015
verified                   0
followers_count            0
following_count            0
tweet_like_count           0
tweet_retweet_count        0
tweet_reply_count          0
source                     0
tweet_text                 0
dtype: int64

In [39]:
data.corr()
#tweet_like_count —Å–∏–ª—å–Ω–æ –∫–æ—Ä—Ä–µ–ª–∏—Ä—É–µ—Ç —Å tweet_retweet_count - 0.892648 –∏ tweet_reply_count - 0.671576
#–≤–æ–∑–º–æ–∂–Ω–æ, –ª–∞–π–∫–∏ –∏–ª–∏ —Ä–µ—Ç–≤–∏—Ç—ã –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç —É–¥–∞–ª–∏—Ç—å.

,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count
verified,1.000000,0.261768,0.058525,0.065856,0.060312,0.133669
followers_count,0.261768,1.000000,0.027400,0.020399,0.019235,0.073458
following_count,0.058525,0.027400,1.000000,0.052773,0.049232,0.042920
tweet_like_count,0.065856,0.020399,0.052773,1.000000,0.892648,0.671576
tweet_retweet_count,0.060312,0.019235,0.049232,0.892648,1.000000,0.546457
tweet_reply_count,0.133669,0.073458,0.042920,0.671576,0.546457,1.000000

In [40]:
data['username'].unique()

array(['CathFordETS', 'gsvigilant', 'Chris07111522', ...,
       'Jonatha67756129', 'MaryTracy', '_Fessial'], dtype=object)

In [41]:
# 37553 –∏–∑ 50001
len(data['username'].unique())

37553

In [42]:
data[data['verified'] == True].head()

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text
4,2022-08-26 21:09:13+00:00,RepAshleyHinson,"Washington, DC",Proud mom and wife. Representing IA-01 in Cong...,True,15667,624,0,1,0,"<a href=""http://twitter.com/download/iphone"" r...",Unleashing American energy independence is one...
17,2022-08-26 21:07:00+00:00,dailystar,London,Home of Fun Stuff! Follow @StarBreaksNews to b...,True,227708,3547,0,0,1,"<a href=""https://about.twitter.com/products/tw...","She's travelled to Costa Rica, Thailand and mo..."
58,2022-08-26 20:59:49+00:00,BelTel,"Belfast, Northern Ireland","Northern Ireland news, sport, features, opinio...",True,219301,14956,4,0,0,"<a href=""https://about.twitter.com/products/tw...",Margaret Canning: We should feel angry the tim...
67,2022-08-26 20:58:49+00:00,thecyberwire,"Fulton, Maryland, USA",Concise cybersecurity news & analysis for the ...,True,39058,884,0,0,0,"<a href=""http://www.hubspot.com/"" rel=""nofollo...","Black Basta, Okta on Scatter Swine, Nobelium, ..."
70,2022-08-26 20:58:43+00:00,LivEchonews,"Liverpool, UK","The latest Liverpool news, sport, weather and ...",True,519641,1392,3,0,1,"<a href=""https://about.twitter.com/products/tw...",A mum-of-12 has given up all hope of ever havi...

In [43]:
# –∏–∑ 50001 3205 - –≤–µ—Ä–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ
data[data['verified'] == True].shape

(3205, 12)

In [44]:
data[data['followers_count'] > 100][['username', 'user_description', 'followers_count', 'following_count']].head()

,username,user_description,followers_count,following_count
3,mnguniomhlophe,Traditional Healer and Clairvoyant: Interested...,431,1603
4,RepAshleyHinson,Proud mom and wife. Representing IA-01 in Cong...,15667,624
8,IanHobbs11,My interests are music (Guitar piano and singi...,102,350
10,tasminschofield,NaN,170,438
11,paul_draper80,#JoinAUnion,1475,2778

In [45]:
#—Å–æ–∑–¥–∞–¥–∏–º —Å—Ç–æ–ª–±–µ—Ü id
data.index

RangeIndex(start=0, stop=50001, step=1)

In [46]:
data['id'] = data.index
data.head()

,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text,id
0,2022-08-26 21:09:51+00:00,CathFordETS,"Manchester, England",Chronic illness advocate. Many health conditio...,False,20,106,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@Keir_Starmer Please can you share this petiti...,0
1,2022-08-26 21:09:25+00:00,gsvigilant,NaN,NaN,False,6,29,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@amyklobuchar So much for focusing your attent...,1
2,2022-08-26 21:09:19+00:00,Chris07111522,NaN,"Professional educator, with a curious mind and...",False,18,39,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@TheLastLeg Kidnap the Tory leadership candida...,2
3,2022-08-26 21:09:18+00:00,mnguniomhlophe,Savanna City Midvaal,Traditional Healer and Clairvoyant: Interested...,False,431,1603,0,0,0,"<a href=""https://mobile.twitter.com"" rel=""nofo...",I salute all the courageous men and women from...,3
4,2022-08-26 21:09:13+00:00,RepAshleyHinson,"Washington, DC",Proud mom and wife. Representing IA-01 in Cong...,True,15667,624,0,1,0,"<a href=""http://twitter.com/download/iphone"" r...",Unleashing American energy independence is one...,4

In [47]:
cols = list(data.columns.values)
cols

['date_time',
 'username',
 'user_location',
 'user_description',
 'verified',
 'followers_count',
 'following_count',
 'tweet_like_count',
 'tweet_retweet_count',
 'tweet_reply_count',
 'source',
 'tweet_text',
 'id']

In [48]:
data = data[['id',
 'date_time',
 'username',
 'user_location',
 'user_description',
 'verified',
 'followers_count',
 'following_count',
 'tweet_like_count',
 'tweet_retweet_count',
 'tweet_reply_count',
 'source',
 'tweet_text']]
data.head()

,id,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text
0,0,2022-08-26 21:09:51+00:00,CathFordETS,"Manchester, England",Chronic illness advocate. Many health conditio...,False,20,106,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@Keir_Starmer Please can you share this petiti...
1,1,2022-08-26 21:09:25+00:00,gsvigilant,NaN,NaN,False,6,29,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@amyklobuchar So much for focusing your attent...
2,2,2022-08-26 21:09:19+00:00,Chris07111522,NaN,"Professional educator, with a curious mind and...",False,18,39,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@TheLastLeg Kidnap the Tory leadership candida...
3,3,2022-08-26 21:09:18+00:00,mnguniomhlophe,Savanna City Midvaal,Traditional Healer and Clairvoyant: Interested...,False,431,1603,0,0,0,"<a href=""https://mobile.twitter.com"" rel=""nofo...",I salute all the courageous men and women from...
4,4,2022-08-26 21:09:13+00:00,RepAshleyHinson,"Washington, DC",Proud mom and wife. Representing IA-01 in Cong...,True,15667,624,0,1,0,"<a href=""http://twitter.com/download/iphone"" r...",Unleashing American energy independence is one...

In [49]:
data.groupby(['verified'])['id'].count()

verified
False    46796
True      3205
Name: id, dtype: int64

In [50]:
#–∑–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏
data.isnull().sum()

id                         0
date_time                  0
username                   0
user_location          15704
user_description        7015
verified                   0
followers_count            0
following_count            0
tweet_like_count           0
tweet_retweet_count        0
tweet_reply_count          0
source                     0
tweet_text                 0
dtype: int64

In [51]:
#user_location          15704
#–Ω–∞–π–¥–µ–º –º–æ–¥—É
data['user_location'].mode()

0    London, England
dtype: object

In [52]:
#–ø–æ—Å—á–∏—Ç–∞–µ–º —á–∏—Å–ª–æ –≤—Ö–æ–¥–µ–Ω–∏–π –õ–æ–Ω–¥–æ–Ω–∞
data[data['user_location'] == 'London, England']['id'].count()

1147

In [53]:
#–∑–∞–º–µ–Ω–∏–º –Ω–∞ –º–æ–¥—É
data['user_location'].fillna('London, England', inplace=True)

In [54]:
data.isnull().sum()

id                        0
date_time                 0
username                  0
user_location             0
user_description       7015
verified                  0
followers_count           0
following_count           0
tweet_like_count          0
tweet_retweet_count       0
tweet_reply_count         0
source                    0
tweet_text                0
dtype: int64

In [55]:
#user_description       7015
#–Ω–∞–π–¥–µ–º –º–æ–¥—É
data['user_description'].mode()

0    Breaking News, Sports, Entertainment
dtype: object

In [56]:
#–ø–æ—Å—á–∏—Ç–∞–µ–º —á–∏—Å–ª–æ –≤—Ö–æ–¥–µ–Ω–∏–π Breaking News, Sports, Entertainment
data[data['user_description'] == 'Breaking News, Sports, Entertainment']['id'].count()
#–º–æ–¥–∞ –ø–æ–ª—É—á–∞–µ—Ç—Å—è –Ω–µ—Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ–π, —Ç–∞–∫ –∫–∞–∫ –≤—Å–µ–≥–æ —Ç–æ–ª—å–∫–æ 101 –≤—Ö–æ–∂–¥–µ–Ω–∏–µ. –í—Å–µ –∂–µ –∑–∞–º–µ–Ω–∏–º –Ω–∞ –Ω–µ–µ.

101

In [57]:
#–∑–∞–º–µ–Ω–∏–º –Ω–∞ –º–æ–¥—É
data['user_description'].fillna('Breaking News, Sports, Entertainment', inplace=True)

In [58]:
#–ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–µ—Ç
data.isnull().sum()

id                     0
date_time              0
username               0
user_location          0
user_description       0
verified               0
followers_count        0
following_count        0
tweet_like_count       0
tweet_retweet_count    0
tweet_reply_count      0
source                 0
tweet_text             0
dtype: int64

In [59]:
#c–≥–µ–Ω–µ—Ä–∏—Ä—É–µ–º –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫  - –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è. –û–Ω –±—É–¥–µ—Ç –Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è, –∫–∞–∫ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–¥–ø–∏—Å—á–∏–∫–æ–≤ / –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–¥–ø–∏—Å–æ–∫
data['user_popularity'] = data['followers_count'] / data['following_count']
data.head()

,id,date_time,username,user_location,user_description,verified,followers_count,following_count,tweet_like_count,tweet_retweet_count,tweet_reply_count,source,tweet_text,user_popularity
0,0,2022-08-26 21:09:51+00:00,CathFordETS,"Manchester, England",Chronic illness advocate. Many health conditio...,False,20,106,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@Keir_Starmer Please can you share this petiti...,0.188679
1,1,2022-08-26 21:09:25+00:00,gsvigilant,"London, England","Breaking News, Sports, Entertainment",False,6,29,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@amyklobuchar So much for focusing your attent...,0.206897
2,2,2022-08-26 21:09:19+00:00,Chris07111522,"London, England","Professional educator, with a curious mind and...",False,18,39,0,0,0,"<a href=""http://twitter.com/download/android"" ...",@TheLastLeg Kidnap the Tory leadership candida...,0.461538
3,3,2022-08-26 21:09:18+00:00,mnguniomhlophe,Savanna City Midvaal,Traditional Healer and Clairvoyant: Interested...,False,431,1603,0,0,0,"<a href=""https://mobile.twitter.com"" rel=""nofo...",I salute all the courageous men and women from...,0.268871
4,4,2022-08-26 21:09:13+00:00,RepAshleyHinson,"Washington, DC",Proud mom and wife. Representing IA-01 in Cong...,True,15667,624,0,1,0,"<a href=""http://twitter.com/download/iphone"" r...",Unleashing American energy independence is one...,25.107372

### Numpy

1. –í—ã—á–∏—Å–ª–∏—Ç–µ A + B, A - B
 
 $\\
A = \left(
\begin{array}{cccc}
1 & -2 & 4\\
2 & 0 & -1\\
\end{array}
\right), B = \left(
\begin{array}{cccc}
5 & 2 & 3\\
4 & 6 & 2\\
\end{array}
\right)$

In [62]:
A = np.array([[1, -2, 4], [2, 0, -1]])
B = np.array([[5, 2, 3], [4, 6, 2]])
A, B

(array([[ 1, -2,  4],
        [ 2,  0, -1]]),
 array([[5, 2, 3],
        [4, 6, 2]]))

In [63]:
A + B

array([[6, 0, 7],
       [6, 6, 1]])

In [64]:
A - B

array([[-4, -4,  1],
       [-2, -6, -3]])

2. –ù–∞–π–¥–∏—Ç–µ –º–∞—Ç—Ä–∏—Ü—É –° = A - 3B
 
 $\\
A = \left(
\begin{array}{cccc}
1 & 2 \\
2 & -1\\
3 & 0\\
\end{array}
\right), B = \left(
\begin{array}{cccc}
-1 & 1 \\
1 & 2\\
0 & 0\\
\end{array}
\right)$

In [65]:
A = np.array([[1, 2], [2, -1], [3, 0]])
B = np.array([[-1, 1], [1, 2], [0, 0]])
A, B

(array([[ 1,  2],
        [ 2, -1],
        [ 3,  0]]),
 array([[-1,  1],
        [ 1,  2],
        [ 0,  0]]))

In [66]:
C = A - 3 * B
C

array([[ 4, -1],
       [-1, -7],
       [ 3,  0]])

4. –í—ã—á–∏—Å–ª–∏—Ç–µ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç–µ–ª—å –º–∞—Ç—Ä–∏—Ü—ã –ê
 
 $\\
A = \left(
\begin{array}{cccc}
6 & -1 & 4\\
2 & 1 & 10\\
8 & 0 & 2\\
\end{array}
\right)$

In [67]:
A = np.array([[6, -1, 4], [2, 1, 10], [8, 0, 2]])
A

array([[ 6, -1,  4],
       [ 2,  1, 10],
       [ 8,  0,  2]])

In [69]:
np.linalg.det(A)

-95.99999999999999

5. –í—ã—á–∏—Å–ª–∏—Ç–µ –º–∞—Ç—Ä–∏—Ü—É, –æ–±—Ä–∞—Ç–Ω—É—é –º–∞—Ç—Ä–∏—Ü–µ –ê. –ò –ø–æ–∫–∞–∂–∏—Ç–µ, —á—Ç–æ –æ–Ω–∞ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ —è–≤–ª—è–µ—Ç—Å—è –æ–±—Ä–∞—Ç–Ω–æ–π
 
 $\\
A = \left(
\begin{array}{cccc}
3 & 3 & -1\\
4 & 1 & 3\\
1 & -2 & -2\\
\end{array}
\right)$

In [70]:
A = np.array([[3, 3, -1], [4, 1, 3], [1, -2, -2]])
A

array([[ 3,  3, -1],
       [ 4,  1,  3],
       [ 1, -2, -2]])

In [71]:
B = np.linalg.inv(A)
B

array([[ 0.07407407,  0.14814815,  0.18518519],
       [ 0.2037037 , -0.09259259, -0.24074074],
       [-0.16666667,  0.16666667, -0.16666667]])

In [72]:
# –ø—Ä–∏ —É–º–Ω–æ–∂–µ–Ω–∏–∏ –º–∞—Ç—Ä–∏—Ü –ø–æ–ª—É—á–∞–µ—Ç—Å—è –µ–¥–∏–Ω–∏—á–Ω–∞—è –º–∞—Ç—Ä–∏—Ü–∞
A @ B

array([[ 1.00000000e+00, -8.32667268e-17,  2.77555756e-17],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       [-5.55111512e-17,  5.55111512e-17,  1.00000000e+00]])

In [73]:
B @ A

array([[ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-2.77555756e-17,  1.00000000e+00, -1.11022302e-16],
       [-2.77555756e-17, -5.55111512e-17,  1.00000000e+00]])